<%= render 'shared/content_title', title: @title %>
<hr>
<% @posts.each do |post| %> 

<div class="row">
  <div class="span0 well text-center">
    <span id="post_3_votes">xx</span> xxxxx
    <br>
  </div>
  <div class="span8 well">
    <% post.categories.each do |cat| %> 
    <span class="badge">
    <%= link_to cat.name, category_path(cat.id) %>
    </span>
    <% end %> 
    <h4><%= link_to post.title, post_path(post.id) %></h4>
    <p>
      <%=post.description%>
    </p>
    <p>
      <span class="quiet">posted by</span> user
      <small> at xxxxx  3:38am EDT</small>
    </p>
    <small>
      <span>
        <a href="/posts/cnn-news">xxxxx comments</a>
      </span>
    </small>
  </div>
</div>
<% end %> 
